<%- include('../partials/head') %>
<div class="all_footer">
  <h3 class="title_footer">JURASSIC ADVENTURES</h3>
  <p class="text_footer">Une experience unique au coeur de la préhistoire</p>
  <ul class="list_footer">
    <li>Contact</li>
    <li>Mentions Légales</li>
    <li>Conditions</li>
  </ul>
</div>
