<%- include('../partials/head') %>
<div class="all_navbar">
  <div class="left_navbar">
    <a class="link_fom_nav" href="/">
      <h2 class="hover_title">Jurassic Adventures</h2>
    </a>
    <h4>Parc a Thème</h4>
  </div>

  <ul class="right_navbar">
    <li>Attractions</li>
    <a href="/form">
      <li>Réserver</li>
    </a>
    <li>Infos</li>
  </ul>
</div>
