<%- include('../partials/head') %>
<div class="all_navbar">
  <div class="left_navbar">
    <h2>Jurassic Adventures</h2>
    <h4>Parc a Thème</h4>
  </div>

  <ul class="right_navbar">
    <li>Attractions</li>
    <li>Réserver</li>
    <li>Infos</li>
  </ul>
</div>
