* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  width: 40px;
}
.all_navbar {
  background-color: #7b3306;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

.left_navbar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hover_title:hover {
  color: #fedc5a;
}

.right_navbar {
  display: flex;
  gap: 10px;
  list-style: none;
}

.all_header {
  background-color: #fcfbec;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.title {
  color: #7b3306;
  font-size: xxx-large;
}

.description_park {
  color: #008236;
  font-size: larger;
}

.button_reservation {
  background-color: #7b3306;
  color: #fcfbec;
  padding: 8px;
  border-radius: 5px;
}

.button_describe_park {
  border-color: #008236;
  background-color: #fcfbec;
  color: #008236;
  padding: 8px;
  border-radius: 5px;
}

.all_footer {
  background-color: #7b3306;
  display: flex;
  height: 60px;
  color: aliceblue;
  flex-direction: column;
  align-items: center;
  width: -webkit-fill-available;
}

.attractions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category {
  color: #7b3306;
}

.describe_category {
  color: #008236;
}

.text_footer {
  color: #fedc5a;
}

.list_footer {
  display: flex;
  list-style: none;
  gap: 10px;
}

.all_box_two_round {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 25px;
  align-items: flex-end;
}
.box_horaires {
  color: #008236;
  border-radius: 10px;
  border: solid 2px #008236;
  padding: 20px;
}
.title_in_box {
  color: #7b3306;
}

.image {
  width: 200px;
  border-radius: 10px;
}

.image_regime {
  width: 450px;
  border-radius: 10px;
  margin-bottom: 40px;
}
a {
  text-decoration: none;
  color: #fcfbec;
}

.right_navbar :hover {
  color: #fedc5a;
}

body {
  background-color: #fcfbec;
}

.all_texte_regime {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.photo_and_text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.all_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px;
}
.title_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  padding: 75px;
}

.form_title_first {
  color: #7b3306;
}
.sub_title_form {
  color: #008236;
}

.number_ticket {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#dateInput {
  border-color: #008236;
  padding: 5px;
  border-radius: 20px;
}
.date_form {
  display: flex;
  flex-direction: column;
}

.select_col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.all_input_in_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.adult,
.child,
.senior {
  padding: 5px;
  border-radius: 5px;
  border-color: #008236;
}

.phone_email {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.input_email,
.input_phone {
  padding: 5px;
  border-radius: 10px;
  border-color: #008236;
}

#reserveBtn {
  background-color: #7b3306;
  opacity: 50%;
  padding: 5px;
  border-radius: 10px;
  color: #fcfbec;
}

#reserveBtn.enabled {
  background-color: #7b3306;
  cursor: pointer;
  opacity: 100%;
}
.total_and_button {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.all_recap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  align-items: flex-start;
}

.right_navbar {
  list-style: none;
  display: flex;
  gap: 20px;
}

.right_navbar li,
.right_navbar a {
  color: white;
  text-decoration: none;
}

/* Icône burger */
.burger {
  display: none;
  cursor: pointer;
}

.burger img {
  width: 30px;
  height: 30px;
}

/* --- Responsive --- */
@media (max-width: 768px) {
  .right_navbar {
    display: none;
    flex-direction: column;
    background: #7b3306;
    position: absolute;
    top: 60px;
    right: 0;
    width: 150px;
    padding: 15px;
    height: 300px;
  }

  .right_navbar.active {
    display: flex;
    justify-content: space-around;
  }

  .burger {
    display: block; /* burger visible seulement en mobile */
  }
}

@media screen and (max-width: 960px) {
  .all_box_two_round {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 25px;
    align-items: center;
  }

  .image_regime {
    width: 75%;
  }

  .phone_email {
    display: flex;
    flex-direction: column;
  }
  .number_ticket {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .title {
    font-size: large;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
