<%- include('../partials/head') %> <%- include('../partials/navBar') %>
<header class="all_header">
  <h1 class="title">Bienvenue dans le Monde des Dinosaures</h1>
  <p class="description_park">
    Vivez une aventure extraordinaire au coeur de la préhistoire.,<br />
    des créatures légendaires dans un environement
  </p>
  <div class="buttons">
    <button class="button_reservation">Réserver Maintenant</button>
    <button class="button_describe_park">Découvrir le parc</button>
  </div>
  <div class="attractions">
    <h2 class="category">Nos Attractions</h2>
    <p class="describe_category">
      Explorer les différentes zones du parc et rencontrez les géants du passé
    </p>
  </div>
  <div class="buttons">
    <a href="/dinos/Aérien"
      ><button class="button_describe_park">Aerien</button></a
    >
    <a href="/dinos/Terrien"
      ><button class="button_describe_park">Terrien</button></a
    >
    <a href="/dinos/Eau"><button class="button_describe_park">Eau</button></a>
  </div>
</header>
<%- include('../partials/footer') %>
