<%- include('../partials/head') %> <%- include('../partials/navBar') %>
<header class="all_header">
  <h1 class="title">Bienvenue dans le Monde des Dinosaures</h1>
  <p class="description_park">
    Vivez une aventure extraordinaire au coeur de la préhistoire.,<br />
    des créatures légendaires dans un environement
  </p>
  <div class="buttons">
    <a class="link_fom_nav" href="/form">
      <button class="button_reservation">Réserver Maintenant</button>
    </a>

    <button class="button_describe_park">Découvrir le parc</button>
  </div>
  <div class="attractions">
    <h2 class="category">Nos Attractions</h2>
    <p class="describe_category">
      Explorer les différentes zones du parc et rencontrez les géants du passé
    </p>
  </div>
      <div class="all_box_two_round">
        <div class="photo_and_text">
          <a href="/dinos/aerien">
            <img class="image" src="/assets/dino_volatif.png" alt="" />
          </a>
          <div class="box_horaires">
            <h3 class="title_in_box">Horaires</h3>
            <ul>
              <li>Lun-Ven: 9h00-18h00</li>
              <li>Sam-Dim: 8h00-20h00</li>
              <li>Vacances:8h00 - 21h00</li>
            </ul>
          </div>
        </div>

        <div class="photo_and_text">
          <a href="/dinos/terrien">
            <img class="image" src="/assets/dinosaure_terre.webp" alt="" />
          </a>
          <div class="box_horaires">
            <h3 class="title_in_box">Tarifs</h3>
            <ul>
              <li>Adulte:45€</li>
              <li>Enfant(3-12 ans):35€</li>
              <li>Senior (+65 ans):40€</li>
            </ul>
          </div>
        </div>

        <div class="photo_and_text">
          <a href="/dinos/eau">
            <img class="image" src="/assets/Dinosaure_eau.webp" alt="" />
          </a>
          <div class="box_horaires">
            <h3 class="title_in_box">Sécurité</h3>
            <ul>
              <li>Barrières de sécurité renforcées</li>
              <li>Personnel qualifié 24h/24</li>
              <li>protocoles d'urgence certifiés</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<%- include('../partials/footer') %>
